.header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 2vw;
}

h1 {
    font-size: 2rem;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}